// variables.scss

// Colors
$dark-background: #333;
$light-background: #fff;
$text-color-dark: #fff;
$text-color-light: #000;

// Spacing
$padding-small: 1rem;
$padding-medium: 2rem;

// Responsive Breakpoints
$breakpoint-mobile: 600px;

.section {
  width: 100%;
  padding: $padding-medium;
  box-sizing: border-box;

  &--dark {
    background-color: $dark-background;
    color: $text-color-dark;
  }

  &--light {
    background-color: $light-background;
    color: $text-color-light;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: $padding-small;
  }
}
