body {
  background-color: #171717;
  color: #fff;
  font-family: "Figtree", sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  width: 100%;
}
