.cardGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;

  & > * {
    flex: 1 1 calc(25% - 1rem);
  }

  @media (max-width: 1024px) {
    & > * {
      flex: 1 1 calc(50% - 1rem);
    }
  }

  @media (max-width: 600px) {
    & > * {
      flex: 1 1 100%;
    }
  }
}
