$border-radius: 20px;

.image {
  width: 100%;
  height: auto;
  border-radius: $border-radius;

  &.solid {
    border: 1px solid black;
  }

  &.dashed {
    border: 1px dashed black;
  }

  &.rounded {
    border: 1px solid black;
    border-radius: 50%;
  }

  &.none {
    border: none;
  }
}
