.paragraph {
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.2;
}

.small {
  font-size: 1.2rem;
}

.medium {
  font-size: 1.8rem;
}

.large {
  font-size: 3rem;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}
