$padding-small: 1rem;
$padding-medium: 2rem;
$breakpoint-mobile: 800px;

.splitSection {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 5rem 0;
  width: 100%;
  @media (max-width: $breakpoint-mobile) {
    padding: $padding-small;

    .content {
      padding: $padding-small;
    }
  }
  .container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // @media (max-width: 1200px) and (min-width: 600px) {
    //   padding: 3rem;
    // }

    // @media (max-width: 600px) {
    //   padding: 5rem;
    // }

    .leftColumn {
      flex-basis: 55%;

      // flex: 2 1 66%;
      // padding: $padding-medium;

      // order: 1;

      @media (max-width: $breakpoint-mobile) {
        order: 2;
        flex: 1 1 100%;
      }
    }

    .rightColumn {
      flex-basis: 35%;
      padding: $padding-medium;

      @media (max-width: $breakpoint-mobile) {
        order: 1;
        flex: 1 1 100%;
      }
    }
  }
  //   @media (max-width: $breakpoint-mobile) {
  //     padding: $padding-small;

  //     .leftColumn,
  //     .rightColumn {
  //       padding: $padding-small;
  //     }
  //   }
}
