// variables.scss

// Colors
$dark-background: #333;
$light-background: #fff;
$text-color-dark: #fff;
$text-color-light: #000;

// Spacing
$padding-small: 1rem;
$padding-medium: 2rem;

// Responsive Breakpoints
$breakpoint-mobile: 600px;
