@import "../../../styles/variable.scss";

.container {
  display: flex;
  background-color: transparent;

  .image-container {
    flex: 1 1 33%;
    margin-right: $padding-small;
  }

  .text-container {
    flex: 1 1 67%;
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;

    .image-container {
      margin-right: 0;
      margin-bottom: $padding-small;
    }
  }
}
